img {
  display: none;
}
#center {
  display: initial;
  background-color: white;
  color: black;
}
#nav, #sidebar, .news{
  display: none;
}
p {
  font-size: 1.25em;
}
a::after{
   content: " (" attr(href) ")";
}