body {
  background-color : grey;
}

h1, h2, h3 {
    text-align: center;
}

#wrapper {
  width: 80%;
  margin: auto;
  background-color:tan;
  box-shadow: 5px 20px;
}

divs {
  margin: auto;
  width: 90%;
}

.itembox {
    border-style: solid;
    border-radius: 6px; 
    box-shadow: 2px 2px; 
    background-color: red;
    color: white;
    padding: 3px;
}

.favorite {
    border-style: dotted;
    border-radius: 60px; 
    box-shadow: 2px 2px; 
    background-color: white;
    color: black;
    padding: 3px;
}

ul.b {
  list-style-type: upper-roman;
}
nav{
  text-align: center;
  border-style: solid;
  border-radius: 6px; 
  box-shadow: 2px 2px; 
  background-color: red;
  color: white;
  padding: 3px;
}
ol {
  list-style-type: circle;
}
nav ul {
  list-style-type: none;
  display: inline;
  padding: 5px;
}

nav li {
  font-size: 1.3em;
  display: inline;
}

a {
  color: white;
  margin: 10px;
  padding: 2px;
}
a:link {
  text-decoration: none;
}
footer{
  margin: 3px;
}