a{
  text-decoration: none;
  font-size: 2em;
  padding: 3px;
}
table{
  border: 1px black solid;
  border-spacing: 0px;
}
td{
  padding: 3px;
}
img{
  width: 200px;
  height: 200px;
}
table{
  margin: auto;
}