body {
  background-color : grey;
}

h1, h2, h3 {
    text-align: center;
}

#wrapper {
  width: 80%;
  margin: auto;
  background-color:tan;
  box-shadow: 5px 20px;
}

divs {
  margin: auto;
  width: 90%;
}

.itembox {
    border-style: solid;
    border-radius: 6px; 
    box-shadow: 2px 2px; 
    background-color: red;
    color: white;
    padding: 3px;
}

.favorite {
    border-style: dotted;
    border-radius: 60px; 
    box-shadow: 2px 2px; 
    background-color: white;
    color: black;
    padding: 3px;
}

ul.b {
  list-style-type: upper-roman;
}

ol {
  list-style-type: circle;
}
ul.a {
  list-style-type: none;
  display: inline;
  padding: 5px;
}

li.a {
  float: left;
}

a {
  display:block;
  margin: 10px;
  padding: 2px;
  background-color: #dddddd;
}
a:link {
  text-decoration: none;
}
 .image1{
  height: 300px;  
  border: 10px solid transparent;
  border-image: url("https://mdn.github.io/css-examples/tools/border-image-generator/border-image-2.png") 30 round;
}
#borderimg{
  background-color: red;  
  color: white;
}

body {
  background-image: url("https://images.unsplash.com/photo-1602943543714-cf535b048440?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2940&q=80");
  background-size: cover;
}
#wrapper{
  width: 60%; 
  margin: auto;
  margin-top: 30px;
}
ul{
  list-style-image: url('Zelda.png');
}
.specialborder{
  border: 10px solid transparent;
  padding: 10px;
  border-image: url("https://mdn.github.io/css-examples/tools/border-image-generator/border-image-2.png") 30 round;
}
