/* nav{
  border-radius:15px;
  border: 3px solid black;
  padding: 20 px;
  width: 295px;
  font-size: 1.5em;
} */
/* ol{
  padding-left: 70px;
} */

nav a{
  text-decoration: none;
  color: black;
  font-size: 1.5em;
  margin: 10px;
}
nav a:hover{
    border-bottom: 2px solid black;
    color: grey;
}
